@use "../abstracts/mixins" as m;

#todoOptions {
  @include m.flex(center, space-between);
  padding: 20px;
  color: var(--text2);
  font-size: 14px;

  #itemsLeft {
    margin-right: 40px;
    #todoCount {
      margin-right: 5px;
    }
  }
  #todoFilters {
    @include m.flex(center, center);
    gap: 20px;
    font-weight: bold;
    .filter {
      transition: 0.3s ease;
      cursor: pointer;
      &.active {
        color: var(--blue);
      }
      &:hover:not(.active) {
        color: var(--text);
      }
    }
  }
  #clearComp {
    transition: 0.3s ease;
    font-size: inherit;
    &:hover {
      color: var(--text);
    }
  }
}
