@use "../abstracts/mixins" as m;

#todosArea {
  #todoList {
    min-height: 65px;

    .todoItem {
      @include m.flex(center, space-between);
      padding: 20px;
      border-bottom: 1px solid var(--border);
      .todoTitle {
        @include m.flex(center, space-between);
        cursor: pointer;
        .checkTodo {
          width: 23px;
          height: 23px;
          border: 1px solid var(--border);
          border-radius: 50%;
          &:hover {
            border-color: var(--blue);
          }

          &.active {
            background-image: url(../../images/icon-check.svg), var(--gradient);
            background-repeat: no-repeat;
            background-position: center;
            border: none;
          }
        }
        .todoText {
          margin-top: 5px;
          padding-left: 20px;
        }
      }
      .deleteItem {
        -webkit-mask-image: url(../../images/icon-cross.svg);
        mask-image: url(../../images/icon-cross.svg);
        background-color: var(--text2);
        // background-size: 100%;
        // background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover {
        .deleteItem {
          opacity: 1;
        }
      }
      &[data-checked="true"] {
        .checkTodo {
          background-image: url(../../images/icon-check.svg), var(--gradient);
          background-repeat: no-repeat;
          background-position: center;
          border: none;
        }
        .todoText {
          text-decoration: line-through;
          opacity: 0.25;
        }
      }
    }
  }
}
