@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

#appContainer {
  padding: 78px 27px 38px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  --blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  user-select: none;

  &.dark {
    --shadow: hsl(235, 21%, 11%);
    --main-bg: hsl(235, 24%, 19%);
    --text: hsl(234, 39%, 85%);
    --hover: hsl(236, 33%, 92%);
    --text2: hsl(234, 11%, 52%);
    --border: hsl(233, 14%, 35%);
    --app-bg: hsl(237, 14%, 26%);
    background-image: url(../../images/bg-desktop-dark.jpg);
    background-color: var(--main-bg);
  }
  &.light {
    --shadow: hsl(233, 11%, 84%);
    --main-bg: hsl(0, 0%, 98%);
    --text: hsl(235, 19%, 35%);
    --hover: hsl(236, 33%, 92%);
    --text2: hsl(236, 9%, 61%);
    --border: hsl(236, 33%, 92%);
    --app-bg: hsl(0, 0%, 98%);
    background-image: url(../../images/bg-desktop-light.jpg);
    background-color: var(--app-bg);
  }
  #app {
    width: 100%;
    max-width: 540px;
    margin: auto;
    color: var(--text);
    #todosContainer {
      border-radius: 5px;
    }
    > div,
    > section,
    > footer {
      background-color: var(--app-bg);
    }
    #todosContainer {
      margin-bottom: 50px;
      box-shadow: 0px 30px 30px 0px var(--shadow);
    }
    #note {
      text-align: center;
      color: var(--text2);
      font-size: 14px;
    }
  }
}
@media (min-width: 1441px) {
  #appContainer {
    max-width: 1440px;
    margin: auto;
    border: 1px solid;
    border-color: transparent #ccc transparent;
  }
}

@media (max-width: 500px) {
  #appContainer {
    #app {
      #todosContainer {
        margin-bottom: 120px;
      }
    }
  }
}

@media (max-width: 375px) {
  #appContainer {
    padding: 47px 27px 38px;
    &.light {
      background-image: url(../../images/bg-mobile-light.jpg);
    }
    &.dark {
      background-image: url(../../images/bg-mobile-dark.jpg);
    }
    #app {
      #todosContainer {
        margin-bottom: 110px;
      }
    }
  }
}
